html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    background-color: #ecdbc5;
    color: #422800;
  }
  
  #main {
    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    min-width: 400px;
    padding: 20px;
  }
  
  header {
    text-align: center;
    min-width: 450px;
    padding: 15px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #f7ede4;
    color: #eb8f4c;
    font-family: "Poppins", sans-serif;
  }
  
  header #container-head {
    border-bottom: 1px solid #f7ede4;
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:0px;
  }

  header #container-head img {
    max-width: 55px;
    float: center;
    margin: 10px;
  }

  header #container-head h1 {
    margin: 0;
    padding-top: 20px;
    margin: 10px;
  }
  
  header #container-head a {
    text-decoration: none;
    color: #eb8f4c;
    margin: 0;
    float: center;
    
  }



  h2 {
    text-align: center;
  }
  
  h3 {
    text-align: center;
    font-style: italic;
  }
  
  p {
    text-align: center;
    font-weight: 500;
  }
  
  
  /* button */
  .form-group {
    text-align: center;
    font-weight: 300;
  }
  
  #btn-start {
    background-color: #f7ede4;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #btn-start:hover {
    background-color: #fff;
  }
  
  #btn-start:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .btn-start {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  
  /*radio*/
  .selector{
      position:relative;
      max-width: 400px;
      width:90%;
      background-color:#f1f3f5;
      height:70px;
      display:flex;
      justify-content:center;
      align-items:center;
      border-radius:9999px;
      box-shadow:0 0 16px rgba(0,0,0,.2);
      margin: 30px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .selector-item{
      position:relative;
      flex-basis:calc(100% / 3);
      height:100%;
      display:flex;
      justify-content:center;
      align-items:center;
      margin:10px;
  }
  .selector-item_radio{
      appearance:none;
      display:none;
  }
  .selector-item_label{
      position:relative;
      height:80%;
      width:140%;
      text-align:center;
      cursor: pointer;
      cursor: help;
      
      border-radius:9999px;
      line-height:400%;
      transition-duration:.5s;
      transition-property:transform, color, box-shadow;
      transform:none;
  }
  .selector-item_radio:checked + .selector-item_label{
      background-color:#eb8f4c;
      color:#fff;
      box-shadow:0 0 4px rgba(0,0,0,.5),0 2px 4px rgba(0,0,0,.5);
      transform:translateY(-2px);
    }

  
/* recipe page */


      .recipe-summary {
        color: #eb8f4c;
        background-color: #fff;
        padding: 20px;
        border-radius: 25px;
        margin-bottom: 25px;
        max-width: 80%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
      }
      
      .recipe-summary p{
        font-size: 1em;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      
      
      .recipe-name {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        background-color: #eb8f4c;
        padding: 20px 0px 20px 40px;
        border-radius: 25px;
        
      }
      
      .recipe-name h2 {
        text-align:left;
        padding-bottom: 25px;
      }

      .recipe-name p {
        margin-bottom: 0px;
        text-align:left;
        padding: 0px;
      }
      
      .recipe-name h3 {
        font-size: 2em;
        margin-top: 0px;
        text-align:left;
        padding-top: 20px;
        
      }
      
      .recipe-name #recipe-img {
        float: right;
        padding-left: 20px;
        padding-right: 0px;
        width:125px;
        height: 250px;
        border-radius:250px 0 0 250px;
  
      }


      .detail{
        margin: 20px;
        display: block;
        width: 80%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
      }

      .detail p {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }
       
      .detail ul {
        text-align: center;
        padding-left: 0;
        list-style-type:none;
        padding-left: 10px;
        padding-right: 10px;
      }
      
   
      .detail h2 {
        text-decoration: underline;
        padding-top: 20px;
      }
      
      .detail ol {
        list-style: none;
        counter-reset: item;
        text-align:center;
        padding-inline-start: 10px;
        padding-right: 10px;
      }
      .detail ol li {
        counter-increment: item;
        margin-bottom: 5px;
      }
      .detail ol li:before {
        margin-right: 10px;
        content: counter(item);
        background: #eb8f4c;
        border-radius: 100%;
        color: white;
        width: 1.2em;
        text-align: center;
        display: inline-block;
      }
    

/*footer*/
    
    footer{
        background-color: #eb8f4c;
        position: fixed;
        bottom: 0; 
        align-content: center;
        width: 100%;
    }

    .footer-button {
      display: flex;
      flex-wrap: wrap;
      background-color: #eb8f4c;
      align-items: center;
      float:left;
      text-align: center;
      justify-content: center;
      padding-left: 40%;

    }

    .footer-button #home-button{

      background-color:#eb8f4c; 
      text-align:center;
      border: none; 
      color: white; 
      padding: 12px 16px;
      font-size: 16px; 
      cursor: pointer; 
      margin-left: 35px;
        
      }

      .footer-button #home-button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
      }

      .footer-button #back-button{

        background-color:#eb8f4c; 
        border: none; 
        color: white; 
        padding: 12px 16px; 
        font-size: 16px; 
        cursor: pointer; 
        
      }

      .footer-button #back-button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
      }

   
  /* result page */



  /* media query */

  @media screen and (min-width: 700px) {
    .recipe-name #recipe-img {
      width: 50%;
      margin-left: 16px;
      border-radius:50%;
    }
    .recipe-name {
      justify-content: space-evenly;
    }
  }

  @media screen and (min-width: 1000px){
    .recipe-summary {
      max-width: 60%;
    }

    .recipe-name {
      max-width: 60%;
    }
    
    .detail {
      max-width: 60%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
      list-style-type: none;
    }

    .detail p ul ol {
      text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }

  }


/* card design */

.card {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px;
  padding: 50px;
  column-gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f7ede4;
  border-radius: 50px;

}

.card img {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 10px;

}

.card h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  color: #eb8f4c;
}

.card h3 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  padding: 20px;
  font-style: italic;
  font-weight: lighter;
}

.card a{
  margin: 20px;
}

.card a:link, a:visited {
    background-color: #eb8f4c;
    border-radius: 15px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.card a:hover {
  background-color: white;
  color: #eb8f4c;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1000px){
  #main {
    text-align: center;
  }
  .card {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f7ede4;
    border-radius: 50px;
    flex-direction: column;
  }

  .card h3 {
    max-width: 80%;
    text-align: center;
    padding: 0;
  }

}




#main .opps {
  text-align: center;
  padding-top: 35px;
}

#main .opps img {
  width: 65%;
  padding: 20px;
  margin-bottom: 50px;
}