html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    background-color: #ecdbc5;
    color: #422800;
  }
  
  #main {
    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    width: 500px;
    padding: 20px;
  }
  
  header {
    text-align: center;
    padding: 15px;
    margin-top: -20px;
    background-color: #f7ede4;
    color: #eb8f4c;
    font-family: "Poppins", sans-serif;
  }
  
  
  h2 {
    text-align: center;
    padding-bottom: 25px;
  }
  
  h3 {
    text-align: center;
    font-style: italic;
    padding-bottom:20px;
  }
  
  p {
    text-align: center;
    padding: 20px;
    font-weight: 500;
  }
  
  
  /* button */
  .form-group {
    text-align: center;
    font-weight: 300;
  }
  
  #btn-start {
    background-color: #f7ede4;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #btn-start:hover {
    background-color: #fff;
  }
  
  #btn-start:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .btn-start {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  
  /*radio*/
  .selector{
      position:relative;
      width:80%;
      background-color:#f1f3f5;
      height:70px;
      display:flex;
      justify-content:center;
      align-items:center;
      border-radius:9999px;
      box-shadow:0 0 16px rgba(0,0,0,.2);
      margin: 30px;
  }
  
  .selecotr-item{
      position:relative;
      flex-basis:calc(100% / 3);
      height:100%;
      display:flex;
      justify-content:center;
      align-items:center;
      margin:10px;
  }
  .selector-item_radio{
      appearance:none;
      display:none;
  }
  .selector-item_label{
      position:relative;
      height:80%;
      width:140%;
      text-align:center;
      cursor: pointer;
      cursor: help;
      
      border-radius:9999px;
      line-height:400%;
      transition-duration:.5s;
      transition-property:transform, color, box-shadow;
      transform:none;
  }
  .selector-item_radio:checked + .selector-item_label{
      background-color:#eb8f4c;
      color:#fff;
      box-shadow:0 0 4px rgba(0,0,0,.5),0 2px 4px rgba(0,0,0,.5);
      transform:translateY(-2px);
  
  /*
  .form-group {
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 20px 1fr) 20px;
    gap: 2em 0.5em;
    text-align: left;
    font-weight: 300;
  }
  
  
  lable {
    text-align: left;
  }
  
  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  
  */
  